---
---

$background-color: #fff;
$background-color-dark: rgba(0, 0, 0, 10%);
$border-color: rgba(0, 0, 0, 5%);
$text-color: #515151;
$monospace-font: "Inconsolata", monospace;

@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

main {
  font-family: "Inconsolata", sans-serif;
  font-weight: bold;
}
